<div class="container">
  <div class="row">
    <div class="block-center">
      <h1>welcome to
        <i class="fa-solid fa-book"></i>
        <strong>Bookers !!</strong>
      </h1>

      <h4>In Bookers,</h>
       <h5>
         you can share and exchange your opinions , inpressions , and emotions</br>
         about various books!
       </h5>
    
      <div class="bottan" >
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-block" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
</div>